.App {
  height: 100vh;
  background-image: url("./vendingmachine.jpg");
  /* background-size: cover; */
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  overflow: scroll;
  /* text-align: center; */
  overflow: hidden;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  color: white;
  position: relative;
  /* background-color: #35aee2; */
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header-container {
  /* background-color: #60c657; */
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  /* padding-left: 40px;
  padding-right: 40px; */
  /* border-radius: 10px; */
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 0 1px black,
  5px -5px #83100C;
  font-style: italic;
}

.cta-button:hover {
  box-shadow: 0 0 0 1px black,
  5px -5px black;
}

.solana-button {
  position: absolute;
  height: 27px;
  width: 27px;
  top: 63%;
  left: 43%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  opacity: 0;
}

.buildspace-button {
  position: absolute;
  height: 27px;
  width: 27px;
  top: 63%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
}

.connect-wallet-button {
  color: black;
  background: -webkit-linear-gradient(left, #c4e7fd, #FDE187);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  transform: rotate(-90deg);
}

.mint-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  /* padding-bottom: 45px; */
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
