:root {
  --clr-neon: #3AAFF8;
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-image: url("./unknown.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  /* background-color: white; */
  overflow: scroll;
  text-align: center;
  /* overflow: hidden; */
  animation: fadeIn 2s;
  background: linear-gradient(#63b9ff,#eaecfa7e, #eaecfa7e, #eaecfa7e);
}

@keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  100% {opacity:1;}
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  color: black;
  position: relative;
  /* background-color: #35aee2; */
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header-container {
  /* background-color: #60c657; */
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  /* padding-left: 40px;
  padding-right: 40px; */
  /* border-radius: 10px; */
  cursor: pointer;
  font-size: 16px;
  color: var(--clr-neon);
  background-size: 200% 200%;
  border-radius: 0.25em;
  border: var(--clr-neon) 0.125em solid;
  position: absolute;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  top: 22%;
  left: 46%;
  z-index: 6;
}

.connect-wallet-button {
  color: var(--clr-neon);
  background-size: 200% 200%;
  border-radius: 0.25em;
  border: var(--clr-neon) 0.125em solid;
  position: absolute;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  top: 22%;
  left: 46%;
  cursor: pointer;
  z-index: 6;
} 



/* .connect-wallet-button {
  font-size: 4rem;
  position: absolute;
  top: 22%;
  left: 46%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
} */

/* .connect-wallet-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}  */

.cta-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  /* background: var(--clr-neon); */
  z-index: -1;
  transition: opacity 100ms linear;
}  

.cta-button:hover,
.cta-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
  /* transform: perspective(1em) rotateX(40deg) scale(1, 0.35);  */
  /* filter: blur(1em); */
  opacity: 0.7;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  z-index: 6;
}

.cta-button:hover::before,
.cta-button:focus::before {
  opacity: 1;
}
.cta-button:hover::after,
.cta-button:focus::after {
  opacity: 1;
} 

.mint-button {
  background-size: 200% 200%;
  margin-left: 10px;
}

.vending-machine {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 650px;
  mix-blend-mode: multiply;
  transition: 1s;
}

.vending-machine:hover {
  width: 670px;
}

.vending-machine-front {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 650px;
  mix-blend-mode: multiply;
  transition: 1s;
}

.candy-container img {
  height: 73px;
  width: 300px;
  position: absolute;
  top: 340px;
  /* left: 40%; */
  transform: translateX(-46%);
}

.solana-container img {
  height: 55px;
  width: 70px;
  position: absolute;
  top: 710px;
  /* left: 40%; */
  transform: translateX(-183%);
}

.buildspace-container img {
  height: 55px;
  width: 70px;
  position: absolute;
  top: 710px;
  /* left: 40%; */
  transform: translateX(-37%);
}

.number-container img {
  height: 55px;
  width: 70px;
  position: absolute;
  top: 710px;
  /* left: 40%; */
  transform: translateX(112%);
}

.front-view-button img {
  border:1px solid #000;
  box-shadow:1px 3px 2px, 1px 4px 0, 1px 5px 0, 1px 6px 0,1px 7px 0;
}

.front-view-button img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
   z-index: -1;
  background-color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.front-view-button img:after{
  background-color: #f6d51e;
}

.front-view-button img:active{
   top:5px;
   left:5px;
   box-shadow:0 0 0 0;
}


.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  left: 0;
  /* padding-bottom: 45px; */
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  /* font-weight: bold; */
  color: #63b9ff;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 600px) {
  .vending-machine, .vending-machine-front {
    width: 300px;
    margin-top: 100px;
  }
  .connect-wallet-button {
    left: 35%;
  }
 
}

@media screen and (max-width: 660px) {
.front-view-button {
  display: none;
  position: static;
}
}